/* colors */ 

:root {
  --color-principal: #ff525d; 
  --color-secundario: #ff7a85;
  --color-azul: #1f3f5b;
  --blanco: #FFF; 
  --negro: #000;
  --gris:#c8c8cb;
  --gris-oscuro:#4b5862; 
  --gris-negro: 	#25252d;
  --gris-gradiente: #2c2d3f; 
  --azul-gradiente: 	#3f4164;

  /* grandients */ 

  --grandiente-hero: background: linear-gradient(180deg, rgba(255,82,93,1) 0%, rgba(255,82,93,1) 40%, rgba(255,122,133,1) 100%);
  --grandiente-body: background: linear-gradient(180deg, rgba(63,65,100,1) 0%, rgba(63,65,100,1) 60%, rgba(44,45,63,1) 100%);


  /* fuentes */ 

  --font-size: 1.6rem; 
  --overpass: 'Overpass', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
}

/* HTML */ 

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--overpass);
}

/* header */ 

.info-principal {
  background: linear-gradient(180deg, rgba(255,82,93,1) 0%, rgba(255,82,93,1) 40%, rgba(255,122,133,1) 100%);
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
}

.header__background {
  position: absolute;
  width: 200%;
  top: -1100px;
  left: -320px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding: 20px 100px;
}

.nav-ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-logo {
  margin-right: 40px;
}

.nav-ul__li {
  font-size: var(--font-size);
  margin-right: 30px;
}

.li-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-button {
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: var(--color-principal);
  font-weight: bold;
}

